# Only allow direct access to specific Web-available files.

# Apache 2.2
<ifmodule>
	Order Deny,Allow
	Deny from all
</ifmodule>

# Apache 2.4
<ifmodule mod_authz_core.c>
	Require all denied
</ifmodule>

# Akismet CSS and JS
<filesmatch>
	<ifmodule>
		Allow from all
	</ifmodule>
	
	<ifmodule mod_authz_core.c>
		Require all granted
	</ifmodule>
</filesmatch>

# Akismet images
<filesmatch>
	<ifmodule>
		Allow from all
	</ifmodule>
	
	<ifmodule mod_authz_core.c>
		Require all granted
	</ifmodule>
</filesmatch>